TextField{
    -fx-border-radius: 30!important;
    -fx-background-radius: 30!important;

    -fx-min-width: 40!important;
    -fx-min-height: 40!important;

    /*-fx-background-image:url('');*/
    -fx-background-repeat: no-repeat;
    -fx-background-position: right center;
    -fx-font-size: 15;
}
PasswordField{
    -fx-border-radius: 30!important;
    -fx-background-radius: 30!important;

    -fx-min-width: 40!important;
    -fx-min-height: 40!important;
}
.sk-btn-toolbar {
    -fx-background-color: linear-gradient(#98a8bd 0%, #8195af 25%, #6d86a4 100%);
}
.sk-btn {
    -fx-background-color:
            #a6b5c9,
            linear-gradient(#303842 0%, #3e5577 20%, #34495e 100%),
            linear-gradient(#768aa5 0%, #849cbb 5%, #5877a2 50%, #486a9a 51%, #34495e 100%);
    -fx-background-insets: 0 0 -1 0,0,1;
    -fx-background-radius: 5,5,4;
    -fx-padding: 14 30 14 30;
    -fx-text-fill: #242d35;
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 12px;
    -fx-text-fill: white;


    -fx-border-insets: 15px;
    -fx-background-insets: 15px;
}
.sk-btn:hover {
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.8) , 0, 0.0 , 0 , -1 );
    -fx-background-color:
            #a6b5c9,
            linear-gradient(#768aa5 0%, #34495e 5%, #5877a2 100%);
}
Label{
    -fx-font-size: 20px;
    -fx-text-fill: #34495e;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );

    -fx-padding: 7 10 7 50px;
    -fx-border-insets: 15px;
    -fx-background-insets: 15px;
}
.wronglabel{
    -fx-font-size: 20px !important;
    -fx-text-fill: #FF0000!important;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 ) !important;

    -fx-padding: 7 10 7 50px!important;
    -fx-border-insets: 15px!important;
    -fx-background-insets: 15px!important;
}

.rounded{
-fx-background-radius: 50px;
-fx-min-width: 40px;
-fx-min-height: 40px;
-fx-max-width: 40px;
-fx-max-height: 40px;
}

.error {
    -fx-focus-color: #d35244;
    -fx-faint-focus-color: #d3524422;

    -fx-highlight-fill: -fx-accent;
    -fx-highlight-text-fill: white;
    -fx-background-color:
            -fx-focus-color,
            -fx-control-inner-background,
            -fx-faint-focus-color,
            linear-gradient(from 0px 0px to 0px 5px, derive(-fx-control-inner-background, -9%), -fx-control-inner-background);
    -fx-background-insets: -0.2, 1, -1.4, 3;
    -fx-background-radius: 3, 2, 4, 0;
    -fx-prompt-text-fill: transparent;
}

